<div class="contenedor-total">
    
    
    <form [formGroup]="planForm" #f="ngForm">

            <h1 class="h1-dialog"> Agregar Plan</h1>
    
        <div mat-dialog-content class="content">
            <!-- <div class="row">
                <mat-form-field class="outline">
                    <mat-label>id Plan</mat-label>
                    <input formControlName="idPlan" matInput>
                </mat-form-field>
            </div> -->
    
            <div class="row">
                <mat-form-field >
                    <mat-label>Nombre Plan</mat-label>
                    <input formControlName="nombrePlan" matInput>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Valor Plan</mat-label>
                    <input matInput formControlName="valorPlan">
                </mat-form-field>
            </div>
    
            <div class="row">
                <mat-form-field class="row">
                    <mat-label>Descripción Plan</mat-label>
                    <textarea matInput formControlName="descripcionPlan"></textarea>
                </mat-form-field>
            </div>
    
        </div>
    
    </form>
    
    <div style="text-align: center;" mat-dialog-actions class="action">
        <button mat-raised-button class="boton" color="primary" type="submit" (click)="guardarPlan()">
            Agregar Nuevo Plan</button>
    </div>
</div>