<p>tabla cliente</p>

<mat-form-field>
  <mat-label>Buscar...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Nombre / Rut " #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Rut Column -->
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef class="columna">Rut</th>
    <td mat-cell *matCellDef="let element">{{ element.run }} - {{ element.dv }}</td>
  </ng-container>

  <!-- Primer Nombre Column -->
  <ng-container matColumnDef="primerNombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.primerNombre }}</td>
  </ng-container>

  <!-- Apellido Paterno Column -->
  <ng-container matColumnDef="paternoApellido">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let element">{{ element.paternoApellido }} {{ element.maternoApellido }}</td>
  </ng-container>

  <!-- fechaNacimiento Column -->
  <ng-container matColumnDef="fechaNacimiento">
    <th mat-header-cell *matHeaderCellDef>fechaNacimiento</th>
    <td mat-cell *matCellDef="let element">{{ formatDate(element.fechaNacimiento) }}</td>
  </ng-container>

  <!-- Fecha Registro Column -->
  <ng-container matColumnDef="fechaRegistro">
    <th mat-header-cell *matHeaderCellDef>Fecha registro</th>
    <td mat-cell *matCellDef="let element">{{ formatDate(element.fechaRegistro) }}</td>
  </ng-container>

  <!-- Fono Column -->
  <ng-container matColumnDef="fono">
    <th mat-header-cell *matHeaderCellDef>Telefono</th>
    <td mat-cell *matCellDef="let element">{{ element.fono }}</td>
  </ng-container>

  <!-- Columna para el botón -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let cliente">
      <button mat-button *ngIf="!cliente.tienePlan" (click)="relacionarPlan(cliente)">Relacionar Plan</button>
    </td>
  </ng-container>

  <!-- Días Vencimiento Column -->
  <!-- <ng-container matColumnDef="fechaRegistro2">
      <th mat-header-cell *matHeaderCellDef>Días vencimiento</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': getColor(calcularDiferencia(element.fechaRegistro))}">
        {{ calcularDiferencia(element.fechaRegistro) }}
        <button mat-icon-button (click)="editarUsuario(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container> -->



  <tr mat-header-row *matHeaderRowDef="desplegarColumna"></tr>
  <tr mat-row *matRowDef="let row; columns: desplegarColumna;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
  </tr>
</table>