<div class="contenedor-total">
  <form [formGroup]="empForm" *ngIf="mostrarFormulario" #f="ngForm">
  
      <h1 class="h1-dialog">Formulario Cliente</h1>
  
  
    <div mat-dialog-content class="content">
  
      <div class="row">
        <mat-form-field  >
          <mat-label>Nombre </mat-label>
  
  
          <input formControlName="primerNombre" matInput>
        </mat-form-field>
  
        <mat-form-field  >
          <mat-label>Segundo nombre </mat-label>
          <input formControlName="segundoNombre" matInput>
        </mat-form-field>
  
      </div>
  
  
  
      <div class="row">
        <mat-form-field >
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="paternoApellido">
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Segundo apellido</mat-label>
          <input matInput formControlName="maternoApellido">
        </mat-form-field>
      </div>
  
  
  
      <div class="row">
        <mat-form-field >
          <mat-label>Run</mat-label>
          <input matInput formControlName="run">
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>digito verificador</mat-label>
          <input matInput formControlName="dv">
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field >
          <mat-label>Mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="fono">
        </mat-form-field>
      </div>
  
      <div class="row">
  
        <mat-form-field>
          <mat-label>Fecha nacimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
          <mat-hint>xxxxx</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <!-- <mat-form-field>
          <mat-label>Fecha registro</mat-label>
          <input matInput formControlName="fechaRegistro" type="date">
        </mat-form-field>
         -->
  
        <mat-form-field>
          <mat-label>Fecha de Registro</mat-label>
          <input matInput [matDatepicker]="pickerFin" formControlName="fechaRegistro" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin [disabled]="true"></mat-datepicker>
        </mat-form-field>
  
      </div>
  
  
  
    </div>
  
  
  
  </form>
  
  <div style="text-align: center;" mat-dialog-actions class="action">
  
  
    <button mat-raised-button class="boton" color="primary" type="submit" (click)="guardarDatos() "
      (click)="traerPlanes()">Agregar</button>
  </div>
</div>