/* .blue {
    background-color: #bee3ba;
  }
  
  .edd661 {
    background-color: #fffeba;
  }
  
  .c4534e {
    background-color: #db4040;
  }
  










  
  .black {
    background-color: rgba(255, 166, 0, 0.911);
  } */