
<div class="content-container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <mat-form-field style="flex: 1; margin-right: 16px;">
      <mat-label>Buscar...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nombre / Rut " #input>
    </mat-form-field>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Run Column -->
    <ng-container matColumnDef="run">
      <th mat-header-cell *matHeaderCellDef>Run</th>
      <td mat-cell *matCellDef="let element">{{ element.run }} </td>
    </ng-container>

  <!-- Primer Nombre Column -->
  <ng-container matColumnDef="nombreUsuario">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombreUsuario }} {{ element.apellidoUsuario }} </td>
  </ng-container>

  <!-- Nombre plan  Column -->
  <ng-container matColumnDef="nombrePlan">
    <th mat-header-cell *matHeaderCellDef>nombrePlan</th>
    <td mat-cell *matCellDef="let element">{{ element.nombrePlan }}</td>
  </ng-container>

  <!-- fechaRegistroPlan Column -->
  <!-- <ng-container matColumnDef="fechaRegistroPlan">
    <th mat-header-cell *matHeaderCellDef>fechaRegistroPlan</th>
    <td mat-cell *matCellDef="let element">{{formatDate(element.fechaRegistroPlan) }}</td>
  </ng-container> -->

  <!-- fechaInicio Column -->
  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef>fechaInicio</th>
    <td mat-cell *matCellDef="let element">{{formatDate(element.fechaInicio) }}</td>
  </ng-container>



  <!-- fechaFin Column -->
  <ng-container matColumnDef="fechaFin">
    <th mat-header-cell *matHeaderCellDef>fechaFin</th>
    <td mat-cell *matCellDef="let element">{{formatDate(element.fechaFin) }}</td>
  </ng-container>

      <!-- Meses pagados Column -->
      <ng-container matColumnDef="mensualidades">
        <th mat-header-cell *matHeaderCellDef>Meses pagados</th>
        <td mat-cell *matCellDef="let element">{{ element.mensualidades }}</td>
      </ng-container>

  <!-- monto Column -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef>monto</th>
    <td mat-cell *matCellDef="let element">{{ element.monto }}</td>
  </ng-container>

    <!-- diasRestantes Column -->
    <ng-container matColumnDef="diasRestantes">
      <th mat-header-cell *matHeaderCellDef>Días vencimiento</th>
      <td mat-cell *matCellDef="let element" [style.backgroundColor]="getColor(calcularDiferencia(element.fechaInicio))">
        {{ calcularDiferencia(element.fechaInicio) }}
      </td>
    </ng-container>




  <tr mat-header-row *matHeaderRowDef="desplegarColumna"></tr>
  <tr mat-row *matRowDef="let row; columns: desplegarColumna;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
  </tr>
</table>