

<form  #f="ngForm" >
    <div mat-dialog-title>
      <h1 style="text-align: center;">Formulario Cliente</h1>
  </div>
  
  <div mat-dialog-content class="content">
    
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Nombre </mat-label>
              
              <input  matInput>          </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Segundo nombre </mat-label>
              <input formControlName="segundoNombre" matInput >
            </mat-form-field>
      </div>
  
      <div class="row">
  
    </div>
  
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="paternoApellido">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Segundo apellido</mat-label>
              <input matInput formControlName="maternoApellido">
            </mat-form-field>
      </div>
  
  
  
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Run</mat-label>
              <input matInput formControlName="run">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>digito verificador</mat-label>
              <input matInput formControlName="dv">
            </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="fono">
        </mat-form-field>
      </div>
  
      <div class="row">
  
        <mat-form-field>
          <mat-label>Fecha nacimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
          <mat-hint>xxxxx</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"  ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <!-- <mat-form-field>
          <mat-label>Fecha registro</mat-label>
          <input matInput formControlName="fechaRegistro" type="date">
        </mat-form-field>
         -->
  
        <mat-form-field>
          <mat-label>Fecha de Registro</mat-label>
          <input matInput [matDatepicker]="pickerFin" formControlName="fechaRegistro" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin [disabled]="true"></mat-datepicker>
        </mat-form-field>
  
        </div>
      
  
    
  </div>
  
  
  
  </form>
  
  <div style="text-align: center;" mat-dialog-actions class="action">
  
  
    <button   mat-raised-button class="boton" color="primary" type="submit" (click)="guardarDatos() " >Agregar</button>
  </div>
  
  