

<form [formGroup]="empForm"  *ngIf ="mostrarFormulario" #f="ngForm" >
  <div mat-dialog-title>
    <h1 style="text-align: center;">Formulario Cliente</h1>
</div>

<div mat-dialog-content class="content">
  
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nombre </mat-label>
            
            <input formControlName="primerNombre" matInput>          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Segundo nombre </mat-label>
            <input formControlName="segundoNombre" matInput >
          </mat-form-field>
    </div>

    <div class="row">

  </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="paternoApellido">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Segundo apellido</mat-label>
            <input matInput formControlName="maternoApellido">
          </mat-form-field>
    </div>



    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Run</mat-label>
            <input matInput formControlName="run">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>digito verificador</mat-label>
            <input matInput formControlName="dv">
          </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="fono">
      </mat-form-field>
    </div>

    <div class="row">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Fecha nacimiento</mat-label>
        <input matInput formControlName="fechaNacimiento" placeholder="DD/MM/YY">
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"  ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="row"> 
        <mat-form-field >
          <mat-select name="idTipoPlan"    placeholder="Tipo Planes" (selectionChange)="onPlanSelectionChange($event)">
            <mat-option value=""> Tipo Planes  </mat-option>
            <mat-option *ngFor="let idPlan of idsPlanes" [value]="idPlan">
              {{idPlan}}
            </mat-option>      
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row"> 
      <mat-form-field >
        <mat-select name="tipoUsuario"    placeholder="Plan" >
          <mat-option value=""> Plan  </mat-option>
          <mat-option >
           
          </mat-option>      
        </mat-select>
      </mat-form-field>
    </div>


   


      <div class="row"> 
        <mat-form-field >
          <mat-select name="numeroMes"    placeholder="Meses a pagar" (selectionChange)="onTipoUsuarioSelectionChange($event)">
            <mat-option value=""> Meses a pagar  </mat-option>
            <mat-option *ngFor="let numMes of mesesAPagar" [value]="numMes">
              {{numMes}}
            </mat-option>      
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descuento</mat-label>
          <input matInput formControlName="descuento">
        </mat-form-field>
      </div>
    

  
</div>



</form>

<div style="text-align: center;" mat-dialog-actions class="action">


  <button   mat-raised-button class="boton" color="primary" type="submit" (click)="guardarDatos() " (click)="traerPlanes()" (click)="refrescar()">Agregar</button>
</div>

