<div class="relative-container">
    <div class="container">
        <div class="row" id="ambos">
            <div class="col-md-6 text-container">
                <h1>Bienvenidos equipo La Fabrica!
                    Explicación sobre el sistema...
                </h1>
            </div>
            <div class="col-md-6">
                <swiper-container loop="true" pagination="true" pagination-clickable="true" space-between="30" effect="fade" navigation="true" class="custom-swiper">
                    <swiper-slide>
                        <img src="https://picsum.photos/2000/1000" class="carousel-image">
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://picsum.photos/id/10/2000/1000" class="carousel-image">
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://picsum.photos/2000/1000" class="carousel-image">
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>
</div>


<div class="relative-container-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/tablaCliente.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>


            </div>

            <div class="col-md-6 text-container-2">
                <h2>Un sistema para todos</h2>
                <h3> Un programa sencillo que permite registrar facilmente a sus clientes. Muy minimalista
                    e untuitivo para el usuario.Con solo dos clicks ya tendras disponible el formulario completo para rellenar. </h3>
            </div>

        </div>
    </div>
</div>


<div class="relative-container-2 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6 text-container-2">

                <h2>Vincula planes a los clientes ingresados</h2>
                <h3> Con solo elegir a un cliente y luego el plan, ya tendras la mayoria de datos
                    para que el cliente pueda acceder a los planes de la fabrica </h3>

            </div>

            <div class="col-md-6 ">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/vincPlan.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>
            </div>

        </div>
    </div>
</div>

<!-- columna 3  -->

<div class="relative-container-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/tablaCliente.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>


            </div>

            <div class="col-md-6 text-container-2">
                <h2>Revisa tus ingresos</h2>
                <h3> En el apartado de historial ingresos podras ver los pagos realizados por por meses y el total anual.
                    Realiza tu propio analisis de datos para tomar desiciones importantes </h3>
            </div>

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>