.relative-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(to bottom, #800080, #ffffff); /* Degradado de morado a blanco */
    display: flex;
    align-items: center;
  }
  
  .custom-swiper {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    height: 75%; /* Asegura que el carrusel ocupe toda la altura del contenedor padre */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-left: auto; /* Mueve el contenedor a la derecha */
    margin-right: 100px;
    margin-top: 10px;
  }
  
  .carousel-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border-radius: 10px; /* Mantiene las esquinas redondeadas */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el slide ocupe toda la altura del contenedor */
  }
  