<div class="relative-container">
    <div class="container">
        <div class="row" id="ambos">
            <div class="col-md-6 text-container">
                <h1>Bienvenidos equipo La Fabrica!
                </h1> 
                    <div class="col-md-6 subtitulo-1 ">
                        <p>Explicación sobre el sistema...</p>
                    </div>
            </div>
            <div class="col-md-6">
                <swiper-container loop="true"  pagination-clickable="true" space-between="30" effect="fade" navigation="true" class="custom-swiper">
                    <swiper-slide>
                        <!-- <img src="https://picsum.photos/2000/1000" class="carousel-image"> -->
                        <img src="assets/img/Roma.jpeg" class="carousel-image">
                    </swiper-slide>

                    
                    <swiper-slide>
                        <img src="assets/img/mejorDL.jpeg" class="carousel-image">
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://picsum.photos/2000/1000" class="carousel-image">
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>
</div>


<div class="relative-container-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/tablaCliente.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>


            </div>

            <div class="col-md-6 text-container-2">
                <h2>Un sistema para todos</h2>
                <h3> Un programa sencillo que permite registrar facilmente a sus clientes. Muy minimalista
                    e untuitivo para el usuario.Con solo dos clicks ya tendras disponible el formulario completo para rellenar. </h3>
            </div>

        </div>
    </div>
</div>


<div class="relative-container-2 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6 text-container-2">

                <h2>Vincula planes a los clientes ingresados</h2>
                <h3> Con solo elegir a un cliente y luego el plan, ya tendras la mayoria de datos
                    para que el cliente pueda acceder a los planes de la fabrica </h3>

            </div>

            <div class="col-md-6 ">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/vincPlan.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>
            </div>

        </div>
    </div>
</div>

<!-- row 3  -->

<div class="relative-container-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6">
                <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                    class="custom-swiper">
                    <swiper-slide>
                        <img src="assets/img/tablaCliente.png" class="carousel-image">
                    </swiper-slide>

                </swiper-container>


            </div>

            <div class="col-md-6 text-container-2">
                <h2>Revisa tus ingresos</h2>
                <h3> En el apartado de historial ingresos podras ver los pagos realizados por por meses y el total anual.
                    Realiza tu propio analisis de datos para tomar desiciones importantes </h3>
            </div>

        </div>
    </div>
</div>


<!-- row 4  -->

<!-- <div class="relative-container-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-6">

<h1>yes</h1>
            </div>

            <div class="col-md-6 text-container-2">

            </div>

        </div>
    </div>
</div> -->

<!-- Footer -->
<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row">
      <!-- Información de contacto -->
      <div class="col-md-4">
        <h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-right: 8px;">
            <path d="M13.468 12.37C12.758 11.226 11.494 10.5 10 10.5H6c-1.494 0-2.758.726-3.468 1.87A6.993 6.993 0 0 0 8 15a6.993 6.993 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1z"/>
          </svg>
          Contacto Rodrigo Reyes
        </h5>
        <ul class="list-unstyled">
          <li><strong>Correo:</strong> <a href="mailto:rodrigo.reyes.jimenez@gmail.com" class="text-white">rodrigo.reyes.jimenez&#64;gmail.com</a></li>
          <li><strong>Teléfono:</strong> <a href="tel:+56984699179" class="text-white">+56 9 8469 9179</a></li>
        </ul>
      </div>
     <!-- Información de contacto -->
     <div class="col-md-4">
        <h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-right: 8px;">
            <path d="M13.468 12.37C12.758 11.226 11.494 10.5 10 10.5H6c-1.494 0-2.758.726-3.468 1.87A6.993 6.993 0 0 0 8 15a6.993 6.993 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1z"/>
          </svg>
          Contacto Fabian Calderon
        </h5>
        <ul class="list-unstyled">
          <li><strong>Correo:</strong> <a href="mailto:rodrigo.reyes.jimenez@gmail.com" class="text-white">fabi.calderon&#64;duocuc.cl</a></li>
          <li><strong>Teléfono:</strong> <a href="tel:+56984699179" class="text-white">+56 9 3206 5580</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-right: 8px;">
            <path d="M13.468 12.37C12.758 11.226 11.494 10.5 10 10.5H6c-1.494 0-2.758.726-3.468 1.87A6.993 6.993 0 0 0 8 15a6.993 6.993 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1z"/>
          </svg>
          Contacto Pablo Villanea
        </h5>
        <ul class="list-unstyled">
          <li><strong>Correo:</strong> <a href="mailto:rodrigo.reyes.jimenez@gmail.com" class="text-white">Pvillanea&#64;gmail.com</a></li>
          <li><strong>Teléfono:</strong> <a href="tel:+56984699179" class="text-white">+56 9 9400 0339</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3">
    &copy; 2024 La Fabrica. Todos los derechos reservados.
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
