.example-spacer {
  flex: 1 1 auto;
}

.full-width-button {
  width: 100%;
  justify-content: flex-start;
}
mat-list-item {
  padding: 0 !important;
}

mat-list-item .mat-list-item-content {
  padding: 0 !important;
}
mat-list-item:hover{
  background-color: #324AB2;
}

tr {
  background-color: #324AB2;
}

.toolbar {
  color: white;

  /* background-color: ; */
  background: linear-gradient(to right, #4D2F6B 20%, #694491);
}

.columna {
  background-color: #4D2F6B;
}

.horizontal-gradient {}

.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-elevation-z8 {
  margin: 20px;
}