<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="showClienteDashboard()"> Cliente</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="showStaffDashboard()" > Staff</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="showplanesUsuarioDashboard()" > Clientes con planes</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="showPLanDashboard()"> PLanes</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="showHPagoDashboard()"> Historial Pagos</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>La Fabrica</span>
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="showpEmpAddEditComponent() ">Agregar cliente</button>
      <button mat-raised-button (click)="openColaborador()">Agregar empleado</button>
    </mat-toolbar>

    <app-tabla-cliente *ngIf="activeComponent === 'cliente'"></app-tabla-cliente>
    <app-mostrar-staff *ngIf="activeComponent === 'staff'"></app-mostrar-staff>
    <app-tabla-planes-usuario *ngIf="activeComponent === 'planesUsuario'"></app-tabla-planes-usuario>
    <app-tabla-plan *ngIf="activeComponent === 'plan'"></app-tabla-plan>
    <!-- <app-emp-add-edit *ngIf="activeComponent === 'EmpAddEditComponent'"></app-emp-add-edit> -->
<app-tabla-hpago *ngIf="activeComponent === 'historialPago'"></app-tabla-hpago>
