.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Fondo sólido */
  color: #fff; /* Color del texto */
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra para mejor visibilidad */
}

.sidenav-container{
  position: fixed; /* Asegura que la barra de navegación permanezca en la parte superior */
  top: 0;
  width: 100%;
  z-index: 1000; /* Un z-index alto para que se superponga a otros elementos */
}

.full-width-button {
  width: 100%;
  justify-content: flex-start;
  transition: all 0.3s ease;
}
mat-list-item {
  padding: 0 !important;
}

mat-list-item .mat-list-item-content {
  padding: 0 !important;
}
mat-list-item:hover{
  background-color:#b5a0ff;
  z-index: 1;
  transform: scale(1.06); /* Opcional: añade un pequeño zoom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}
.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 22px;
}


.toolbar {
  color: white;

  /* background-color: ; */
  background: linear-gradient(to right, #4D2F6B 20%, #694491);
}

.columna {
  background-color: #4D2F6B;
}

.horizontal-gradient {}

.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-elevation-z8 {
  margin: 20px;
}