<!-- src/app/associate-client-plan/associate-client-plan.component.html -->
<h1>Asociar Cliente con Plan</h1>
<form [formGroup]="relacionForm" (ngSubmit)="postRelacion()">
  <mat-form-field>
    <mat-label>RUT</mat-label>
    <input matInput formControlName="run" readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ID del Plan</mat-label>
    <input matInput formControlName="idPlan" required readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre del Plan</mat-label>
    <mat-select formControlName="nombrePlan" (selectionChange)="onPlanChange($event.value)" required>
      <mat-option *ngFor="let nom of planes" [value]="nom.nombrePlan">
        {{ nom.nombrePlan }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Nombre del Usuario</mat-label>
    <input matInput formControlName="nombreUsuario" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido del Usuario</mat-label>
    <input matInput formControlName="apellidoUsuario" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Registro del Plan</mat-label>
    <input matInput formControlName="fechaRegistroPlan" readonly>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"  ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>



  <mat-form-field>
    <mat-label>Fecha Fin</mat-label>
    <input matInput formControlName="fechaFin" readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Meses a pagar</mat-label>
    <input matInput type="number" formControlName="mensualidades" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor Por mes</mat-label>
    <input matInput type="number" formControlName="monto" required readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor total</mat-label>
    <input matInput type="number" formControlName="total" required readonly>
  </mat-form-field>
 




  <mat-form-field>
    <mat-label>Descuento</mat-label>
    <input matInput type="number" formControlName="descuento" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Método de Pago</mat-label>
    <input matInput formControlName="metodoPago" required>
  </mat-form-field>
 
  <div>
    <button mat-button type="submit" [disabled]="!relacionForm.valid">Asociar</button>
  </div>
</form>
