<!-- src/app/associate-client-plan/associate-client-plan.component.html -->
<h1>Asociar Cliente con Plan</h1>
<form [formGroup]="relacionForm" (ngSubmit)="postRelacion()">
  <mat-form-field>
    <mat-label>RUN</mat-label>
    <mat-select formControlName="run" required>
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.run">
        {{ cliente.run }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>ID del Plan</mat-label>
    <input matInput formControlName="idPlan" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre del Plan</mat-label>
    <input matInput formControlName="nombrePlan" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre del Usuario</mat-label>
    <input matInput formControlName="nombreUsuario" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido del Usuario</mat-label>
    <input matInput formControlName="apellidoUsuario" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Registro del Plan</mat-label>
    <input matInput type="datetime-local" formControlName="fechaRegistroPlan" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput type="datetime-local" formControlName="fechaInicio" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Fin</mat-label>
    <input matInput type="datetime-local" formControlName="fechaFin" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Método de Pago</mat-label>
    <input matInput formControlName="metodoPago" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descuento</mat-label>
    <input matInput type="number" formControlName="descuento" required>
  </mat-form-field>
  <div>
    <button mat-button type="submit" [disabled]="!relacionForm.valid">Asociar</button>
  </div>
</form>
