
.contenedor-total{
  background-color: #06132b;
}

h1 {
  color: #bfdbfe;
  text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5%;
   
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre columnas */
  }
  
  .action {
    padding: 0px 25px 20px;
        button {
            flex:1;
        }
}

